name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - uses: nrwl/nx-set-shas@v4
      - run: pnpm install
      - run: pnpm nx affected --target=pack --parallel=3
        env:
          OTP_SECRET: ${{ secrets.otp_secret }}
          OTP_USER: ${{ secrets.otp_user }}
          OTP_SERVICE: ${{ secrets.otp_service }}
          TURSO_CONNECTION_URL: ${{ secrets.turso_connection_url }}
          TURSO_AUTH_TOKEN: ${{ secrets.turso_auth_token }}
      - run: pnpm nx affected --target=lint --parallel=3
